.category-button {
    display: flex;
    flex: 1;
    flex-grow: 1;
    padding: 4px 16px;
    border-radius: 4px;
    border: 1px solid grey;
    color: #424242;
    background: #fff;
    text-decoration: none;
    margin: 0px 8px;
    margin-bottom: 16px;
}

.category-button:hover {
    text-decoration: none;
}

.category-button-selected {
    background: #4fc3f7;
    color: #fff;
    border: 1px solid #4fc3f7;
}