.category-wrapper { 
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 8px 16px;
}
.category-title {
    font-size: 18px;
    font-weight: 500;
    color: #343f4b;
    padding: 0 0 8px 0;
}

.category-container { 
    display: flex;
    flex: 1;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 80px;
    margin-left: -8px;
    margin-bottom: 8px !important;
}

.category-error {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #f4f4f4;
    margin: 0px 8px;
    margin-bottom: 20px;
    padding: 16px;
}