.category-button-wrapper {
    display: flex;
    flex: 1;
    padding: 16px 16px 0 16px;
}

.category-button-container { 
    display: flex;
    flex: 1;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: -8px;
    margin-bottom: 8px !important;
    white-space:nowrap;
    width: 98%;
}

.category-button-error {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #f4f4f4;
    margin: 0px 8px;
    margin-bottom: 20px;
    padding: 16px;
}