.item-list-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.item-list-error {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #f4f4f4;
    margin: 0px 8px;
    margin-bottom: 20px;
    padding: 16px;
}