.item-card {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    border-top: 1px solid lightgray;
    text-decoration: none;
}

.item-card:hover {
    text-decoration: none;
}

.item-card-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 16px;
}

.item-card-footer {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid lightgray;
    padding: 8px;
}

.item-card-footer-icon {
    justify-content: center;
    align-items: center;
    padding: 0 18px;
}

.item-card-header {
    line-height: 1.5rem;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    color: #343f4b;
}

.item-card-subheading {
    line-height: 1.5rem;
    color: #5a6978;
    font-size: 16px;
}

.item-card-text {
    line-height: 1.5rem;
    font-size: 14px;
    color: #969faa;
}